/.langchain.db
/.logs
/.streamlit/secrets.toml
/__pycache__
/backend/__pycache__
/backend/classes/__pycache__
/utils/__pycache__
/.cache-embeddings
/.chroma
/data/__pycache__
/export/__pycache__
/.langchain-cache/.langchain.db
